body{
    background-color: skyblue;
}
li {
    display: inline;
}
#login{
    float: right;
    margin-right: 100px;
    position: relative;
    padding: 10px;
}
#couple{
    float: left;
    margin-left: 100px;
    margin-top: 75px;
    position: relative;
}
#signup{
    border-style: solid;
    float: left;
    position: relative;
    width: 50%;
    height: 600px;
    left: 30px;
    margin-top: 20px;
}
#create{
    text-align: center;
}